<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles/auth.css">
    <link rel="icon" href="img/scolar.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <% if signed_in? %>
      <div class="account-preview">
        Ваш аккаунт: <%= current_user.email %>
      </div>
      <div class="leave-button">
        <%= button_to 'Выйти', sign_out_path, method: :delete %>
      </div>
    <% else %>
    <div class="auth">
      <%= link_to 'Регистрация', sign_up_path %>
    </div>
    <% end %>



    <section>
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
      <%= yield %>
    </section>
  </body>
</html>
